.alert {
  margin: 5% 5% 0 5%;
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s;
}

.fadeOut {
  -webkit-animation: fadeOut 1s forwards;
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
