<form class="col-sm-10">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Mickey">
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Mouse">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="mickey@gmail.com">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="repeatPassword">Repeat password</label>
    <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Repeat password">
  </div>
  <div class="form-group">
    <label for="website">Website</label>
    <input type="url" class="form-control" id="website" name="website" placeholder="http://example.com">
  </div>
  <div class="form-group">
    <label for="tel">Telephone number</label>
    <input type="tel" class="form-control" id="tel" name="tel" placeholder="06 07 08 09 10">
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <select id="country" name="country" class="form-control">
      <option value="BR">Brazil</option>
      <option value="FR">France</option>
      <option value="UK">United Kingdom</option>
      <option value="US">United States</option>
    </select>
  </div>
  <div class="form-group">
    <label class="radio-inline">
      <input type="radio" id="genderMale" name="gender" value="0"> Male
    </label>
    <label class="radio-inline">
      <input type="radio" id="genderFemale" name="gender" value="1"> Female
    </label>
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" name="age" placeholder="18">
  </div>
  <div class="form-group">
    <label for="birthday">Birthday</label>
    <input type="date" class="form-control" id="birthday" name="birthday" placeholder="01/01/2000">
  </div>
  <div class="form-group">
    <label class="checkbox-inline">
      <input type="checkbox" id="terms" name="terms" value="true"> I accept the <a href="#">terms and conditions</a>
    </label>
  </div>
  <div class="form-group">
    <label for="avatar">Avatar</label>
    <input type="file" id="avatar">
    <p class="help-block">Upload your photo.</p>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
